{% extends 'watch/base.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>REGISTER</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3 row">
                            <label for="username" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">Username:</label>
                            <div class="col-sm-9">
                                <span>{{ form.username }}</span>
                                
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">Email:</label>
                            <div class="col-sm-9">
                                <span>{{ form.email }}</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="first_name" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">First Name:</label>
                            <div class="col-sm-9">
                                <span>{{ form.first_name }}</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="last_name" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">Last Name:</label>
                            <div class="col-sm-9">
                                <span>{{ form.last_name }}</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="password1" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">Password:</label>
                            <div class="col-sm-9">
                                <span>{{ form.password1 }}</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="password2" class="col-sm-3 col-form-label text-end" style="font-weight: bold; color: black">Confirm Password:</label>
                            <div class="col-sm-9">
                                <span>{{ form.password2 }}</span>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-success btn-sm" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center" style="font-weight: bold; color: black">
                    <p class="mb-0">
                        Already have an account? <a href="{% url 'login' %}">LOGIN</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
