{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'watch:index' %}" class="navbar-brand">
                Nexus
        </a>

        <div class="navbar">
            <a href="#" class="nav-item nav-link btn btn-dark">
                Add Item
            </a>

            <a href="#" class="nav-item nav-link btn btn-dark">
                Profile
            </a>

            <a href="#" class="nav-item nav-link btn btn-dark">
                Sign Up
            </a>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

   
</body>
</html>