{% extends 'watch/base.html' %}

{% block body %}

<div class="row">
    <div class="col-md-2 offset-md-1">
        <img
            height="150px"
            width="250px"
            class="card"
            src="{{ item.item_image }}"
        >
    </div>

    <div class="col-md-4 offset-md-1">
        <h1
            style="
                font-style: italic;
            "
        >
            {{ item.item_name }}
        </h1>

        <h2
            style="
                font-style: italic;
                font-size: 1.3rem;
                text-align: justify;
            "
        >
            {{ item.item_desc }}
        </h2>

        <h3>
            ${{ item.item_price }}
        </h3>
    </div>

    <div class="col-md-3 offset-md-1">
        <a
            href="#"
            style="width:80px"
            class="btn btn-warning"
        >
            Edit
        </a>

        <a
            href="#"
            style="width:80px"
            class="btn btn-danger"
        >
            Delete
        </a>

        <a
            href="#"
            style="width:80px"
            class="btn btn-success"
        >
            Back
        </a>
    </div>
</div>

{% endblock %}