{% extends 'watch/base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% for item in itemlist %}
    <div class="row mb-3">
        <div class="col-md-3 offset-md-2">
            <img 
                src="{{ item.item_image }}"
                class="card"
                height="135px"
                width="230px"
            >
        </div>

        <div class="col-md-4">
            <h3
                    style="font-size: 1.5rem;"
                >
                    {{ item.item_name }}
                </h3>

                <h5
                    style="
                        font-style:italic;
                        font-size:1rem
                    "
                >
                    {{ item.item_desc | truncatewords:6 }}
                </h5>

                <h6>
                    ₹{{ item.item_price }}
                </h6>

                <h6
                    style="
                        font-style: italic;
                    "
                >
                    added for: {{ item.for_user }}
                </h6>

                <h6
                    style="
                        font-style: italic;
                    "
                >
                    added by superuser: {{ item.user }}
                </h6>
        </div>

        <div class="col-md-3">
            <a
                    href="{% url 'watch:detail' item.id %}"
                    style="width:100px"
                    class="btn btn-success"
                >
                    Details
                </a>

        </div>
    </div>
    {% endfor %}

    {% endblock %}
</body>
</html>